img {
  width: 100px;
  height: 100px;
  margin: 20px;
  display: inline;
  border-width: 10px;
  border-color: green;
  display: inline
}

div {
 width: 100px;
 height: 100px;
 margin: 20px;
 display: inline-block;
 background-image:url(images.jpeg);
 background-size:cover
}

a {
  margin: 50px
}
