img {
  width: 100px;
  height: 100px;
  margin: 20px;
  display: inline;
  border-width: 10px;
  border-color: green
}

div {
  width: 100px;
  height: 100px;
  margin: 20px;
  display: inline;
  background-image:url(images.jpeg);
  background-size:cover
}

#objeto {
  visibility: hidden
}

a {
  display: inline-block;
  margin: 20px
}
