body {
  background-image: url("/Librerias-en-HTML/fruits.jpeg");
  background-size: cover;
}

h1 {
  text-align: center;
  font-family: 'Libre Franklin', sans-serif;
}

#card, #carddos, #cardtres, #cardcuatro, #cardcinco, #cardsiete, #cardoco, #cardnueve, #carddiez {
  width: 160px;
  height: 60px;
  margin-left: 10px;
  padding: 40px;
  display: inline-block;
}

#card > img {
  border: 15px solid #FFF;
  box-shadow: 0 0 10px RGBA(0,0,0, .5);
}

#carddos > img {
  border: 15px solid #FFF;
  box-shadow: 0 0 10px RGBA(0,0,0, .5);
}

#cardtres > img {
  border: 15px solid #FFF;
  box-shadow: 0 0 10px RGBA(0,0,0, .5);
}

#cardcuatro > img {
  border: 15px solid #FFF;
  box-shadow: 0 0 10px RGBA(0,0,0, .5);
}

#cardcinco > img {
  border: 15px solid #FFF;
  box-shadow: 0 0 10px RGBA(0,0,0, .5);
}

#cardseis > img {
  border: 15px solid #FFF;
  box-shadow: 0 0 10px RGBA(0,0,0, .5);
}

#cardsiete > img {
  border: 15px solid #FFF;
  box-shadow: 0 0 10px RGBA(0,0,0, .5);
}

#cardocho > img {
  border: 15px solid #FFF;
  box-shadow: 0 0 10px RGBA(0,0,0, .5);
}

#cardnueve > img {
  border: 15px solid #FFF;
  box-shadow: 0 0 10px RGBA(0,0,0, .5);
}

#carddiez > img {
  border: 15px solid #FFF;
  box-shadow: 0 0 10px RGBA(0,0,0, .5);
}
#manzana, #pera, #naranja, #platano, #kiwi {
  margin-top: 50px;
  margin-right: 70px;
  margin-left: 70px;
}
